@font-face{
  src: url(../fonts/Bellino.ttf);
  font-family: bellino;
}@font-face{
	src: url("../fonts/Sketch\ 3D.otf");
	font-family: sketch;
}@font-face{
	src: url("../fonts/Mentega.ttf");
	font-family: mentega;
}
*{
    margin: 0%;
    padding: 0%;
}
body{
  background-image: url("../res/img2.jpg");
}
.Mainheader{
  width: 100%;
  height: 150px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
}
.button{
 margin: 30px;
 color: rgb(10, 10, 153);
 border-color: rgba(128, 128, 128, 0.712);
 background-color: rgba(128, 128, 128, 0.712);
  width: 150px;
  height: 70px;
  font-size: 1.5em;
  font-family: bellino;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596); 
}
.button:hover{
  background-color: rgba(255, 255, 255, 0.815);
}


.container{
  width: 80%;
  height: 570px;
  background-color: rgba(135, 207, 235, 0.37);
  margin: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
	outline: 6px solid rgba(21, 51, 219, 0.644);
	outline-offset: -13px;
}
 h1{
  position: relative;
  top: 50px;
  left: 100px;
  font-size: 3em;
  font-family: bellino;
  color: blueviolet;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.596);
}
p{
  position: relative;
  margin: auto;
  width: 80%;
  top: 80px;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.taille_menu{
  font-family: Arial, Helvetica, sans-serif;
}
.special_cancel{
  color: rgba(255, 0, 0, 0.63);
  border-color: rgba(248, 248, 248, 0.712);
  background-color: rgba(248, 248, 248, 0.712);
}
.special_try{
  color: rgba(40, 9, 112, 0.712);
  border-color: rgba(248, 248, 248, 0.712);
  background-color: rgba(248, 248, 248, 0.712);
}